{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>انشاء حساب</title>
    <link rel="stylesheet" href="{% static 'style/form.css' %}">
</head>
<body>
    
    <img src="{% static 'images/bg.png' %}" alt="" class="bg">

    {% for msg in messages %}
        <script>alert("{{msg}}")</script>
    {% endfor %}
    
    <form class="container" method="POST">
        {% csrf_token %}
        <input type="text" name="full_name" placeholder="الاسم بالكامل">
        <input type="tel" name="phonenumber" placeholder="رقم الهاتف">
        <input type="password" name="password" placeholder="كلمة المرور">
        <div class="btns">
            <a href="{% url 'login' %}">تسجيل الدخول ؟</a>
            <button type="submit">تسجيل</button>
        </div>
    </form>

</body>
</html>